* {
    margin: 0px auto;
}

header {
    height: 200px;
}

.younique {
    position: relative;
    left: -20px
}

.logo {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    position: relative;
    left: 18%;
    top: 30px;
}

body {
    background-image: url(../image/background.jpg);
    align-items: center;
}

nav {
    height: 77px;
    font-size: 20px;
    text-align: center;
    background-color: #66202A;
}

nav ul {
    margin: 0;
    position: relative;
    top: 25px;

}

nav li {
    display: inline-block;
    position: relative;
    list-style: none;
}

nav a {
    position: relative;
    padding: 60px;
    color: #EFD9A7;
    padding: 27px;
}

nav a:hover {
    background-color: #192d2e;
    color: white;

}

.cart {
    width: 70px;
    height: 70px;
    bottom: 15px;
    left: 15px;
    background-color: #fffce9;
    border-radius: 35%;
    position: fixed;
}

.searching {
    position: relative;
    top: 18px;
    left: 10px;
    border-style: none;
    outline: none;
}

.sear-line {
    position: relative;
    left: 15px;
    top: 10px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
    position: relative;
    float: left;
    margin-top: 15px;
}

.member_details {
    font-family: 'Noto Sans TC', sans-serif;
    position: relative;
    right: 20px;
    float: right;
    color: #6b6b6b;
    margin-top: 15px;
    top: 10px;
}

.member_details a:hover {
    background-color: #192d2e;
    color: #EFD9A7;
    padding: 10px;
}

.slideshow-container {
    max-width: 1200px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: #6b2d54;
}

.section_container {
    margin-top: 0px;
}

.con_img {
    width: 100%;
    height: 100%;
    cursor: move;
}

.container {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
}

.pic_width {
    grid-column: span 2;
}

.pic_large {
    grid-column: span 2;
    grid-row: span 2;
}

h1 {
    font-family: 'Satisfy', cursive;
    text-align: center;
    font-size: 60px;
    color: #66202A;
    margin: 15px;
}

.slider {
    background-color: #66202A;
    position: relative;
    width: 60%;
    overflow: hidden;
}

.slides_img {
    display: flex;
    width: 100%;
}

.slides_img img {
    height: 500px;
    width: 100%;
    transition: all 0.15s ease;
}

.slides_img input {
    display: none;
}

.dots {
    display: flex;
    justify-content: center;
    margin: 3px;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* slideshow indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active2,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.padding1 {
    padding: 50px;
    background-color: pink;
    color: white;
}

.button {
    border-radius: 4px;
    background-color: #c13599;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover {
    padding-right: 25px;
}

.button:hover:after {
    opacity: 1;
    right: 0;
}

.padding2 {
    padding: 50px;
    background-color: white;
    color: white;
}

/* Three columns side by side */
.column {
    float: left;
    width: 27%;
    margin-bottom: 16px;
    padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

/* Add some shadows to create a card effect */
.card {
    box-shadow: 0 4px 8px 0 #6b2d54;
}

/* Some left and right padding inside the container */
.container {
    padding: 0 16px;
    background-color: pink;
    height: 4cm;
}

/* Clear floats */
.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}


.dots label {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid 3px #fff;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
}

.dots label:hover {
    background: #fff;
}

#top1:checked~.pic_slide1 {
    margin-left: 0;
}

#top2:checked~.pic_slide2 {
    margin-left: -35%;
}

#top3:checked~.pic_slide3 {
    margin-left: -150%;
}

#top4:checked~.pic_slide4 {
    margin-left: -200%;
}

#top5:checked~.pic_slide5 {
    margin-left: -300%;
}

.sendmail {
    position: relative;
    width: 30px;
    height: 30px;
    top: 10px;
    left: 10px;
    background-color: #fff;
    border-radius: 15%;
}

#link_index :hover {
    color: #EFD9A7;
    background-color: #617f7f;
}

#link_mail :hover {
    color: #EFD9A7;
    background-color: #617f7f;
}

.container {
    margin-top: 40px;
    margin: 20px;
    height: auto;
    background-color: #66202A;
}

.card {
    /* 設定父親定位點 */
    position: relative;
    left: 70%;
    width: 150px;
    height: 150px;
    float: left;
    margin: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 15px;
}

.hot_pic {
    display: block;
    width: 100%;
    height: 100%;
}

.info {
    /*   display: none; */
    opacity: 0;
    position: absolute;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, .3);
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 40px;
}

.info:hover {
    -webkit-transition: 500ms;
    opacity: 1;
}

.clear {
    clear: both;
}

footer {
    background: linear-gradient(#e69675, #66202a);
    color: #EFD9A7;
    margin-top: 40px;
    columns: 2;
    column-rule: silver 2px solid;
}

.contact {
    position: relative;
    padding-top: 120px;
    padding-left: 200px;
    line-height: 30px;
}

.map {
    position: relative;
    padding-top: 30px;
    padding-left: 40px;
    padding-bottom: 30px;
}