* {
    margin: 0px auto;
}

body {
    background-image: url(../image/background.jpg);
}

header {
    height: 200px;
}


.logo {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    position: relative;
    left: 18%;
    top: 30px;
}


article {
    margin-top: 70px;
    margin-left: 450px;
    margin-right: 450px;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #66202A;
    text-align: center;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: #EFD9A7;
}


.tab button:hover {
    background-color: #ddd;
}


.tab button.active {
    background-color: #192d2e;
    color: white;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

table,
th,
td {
    width: 100%;
    text-align: center;
}

.connect {
    margin: 20px 20px;
    height: 30px;
    width: 30px;
}

.fp {
    font-size: 10px;
}

.younique {
    position: relative;
    left: -20px
}