* {
    box-sizing: border-box;
    margin: 0px auto;
}

header {
    height: 200px;
}

.logo {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-top: 20px;
    position: relative;
    left: 47.5%;
}

body {
    background-image: url(../image/background.jpg);
    margin: 0px auto;
}

nav {
    height: 70px;
    font-size: 20px;
    text-align: center;
    background-color: #66202A;
}

nav ul {
    margin: 0;
    position: relative;
    top: 25px;

}

nav li {
    display: inline-block;
    position: relative;
    list-style: none;
}

nav a {
    position: relative;
    padding: 60px;
    color: #EFD9A7;
    padding: 20px;
}

nav a:hover {
    background-color: #192d2e;
    color: white;
}

.searching {
    position: relative;
    left: 43%;
    margin-bottom: 20px;
    margin-top: 15px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
    position: relative;
    left: 42%;
    float: left;
    margin-top: 15px;
}

.member_details {
    font-family: 'Noto Sans TC', sans-serif;
    position: relative;
    right: 20px;
    float: right;
    color: #6b6b6b;
    margin-top: 15px;
}

main {
    padding: 30px;
    width: 80%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    grid-auto-flow: row;

    grid-template-columns: 1fr 1fr;
    gap: 15px;
    grid-auto-flow: row;
}

.qa_box {
    background-color: #192D2E;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    color: #EFD9A7;
    text-align: left;
}

p {
    font-size: 16px;
    margin-top: 20px;
}

footer {
    background-color: #66202A;
    color: #EFD9A7;
    height: 150px;
    text-align: center;
    font-size: 30px;
}

h5 {
    position: relative;
    margin-top: 30px;
    padding: 30px;
}