* {
    margin: 0px auto;
}

body {
    font-size: 20px;
    background-image: url(../image/background.jpg);
}

header {
    height: 200px;
}

.logo {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    position: relative;
    left: 18%;
    top: 30px;
}

nav {
    height: 77px;
    font-size: 20px;
    text-align: center;
    background-color: #66202A;
}

nav ul {
    margin: 0;
    position: relative;
    top: 25px;
}

nav li {
    display: inline-block;
    position: relative;
    list-style: none;
}

nav a {
    position: relative;
    padding: 60px;
    color: #EFD9A7;
    padding: 27px;
}

nav a:hover {
    background-color: #192d2e;
    color: white;
}

.younique {
    position: relative;
    left: -20px
}